[DEFAULT]
debug = {{ nova_compute_logging_debug }}
state_path = {{ nova_state_path }}

log_dir = {{ nova_log_file }}
my_ip = {{ host_info.ip[host_name] }}
enabled_apis=osapi_compute,metadata
osapi_compute_listen_port = {{ services_port.nova_api }}
resume_guests_state_on_host_boot = {{ resume_guests_state_on_host_boot }}
metadata_listen_port = {{ services_port.nova_metadata }}
firewall_driver = nova.virt.firewall.NoopFirewallDriver

pci_passthrough_whitelist ={{ sriov_config.pci_passthrough_whitelist[host_name] }}

{% if osapi_compute_unique_server_name_scope | bool %}
osapi_compute_unique_server_name_scope = global
{% endif %}

instance_name_template = instance-%08x
transport_url ={{ transport_url }}

{% if cpu_pin | bool %}
vcpu_pin_set = {{  vcpu_pin_sets[host_name]  }}
{% endif %}

[api_database]
connection = mysql+pymysql://{{ db_user_nova }}:{{ DB_NOVA_PASS }}@{{ CONTROLLER_HOST }}/{{ db_nova_api_name }}
max_retries = -1

[database]
connection = mysql+pymysql://{{ db_user_nova }}:{{ DB_NOVA_PASS }}@{{ CONTROLLER_HOST }}/{{ db_nova_name }}
max_pool_size = 50
max_overflow = 1000
max_retries = -1

[placement_database]
connection = mysql+pymysql://placement:{{ DB_NOVA_PASS }}@os-controller/placement
max_retries = -1

[api]
auth_strategy = keystone

[keystone_authtoken]
auth_url = {{ keystone_auth_url }}
auth_type = password
os_region_name = {{ REGION_NAME }}
project_domain_name = {{ project_domain_name }}
user_domain_name = {{ user_domain_name }}
project_name = service
username = {{ ops_user_nova }}
password = {{ OPS_NOVA_PASS }}
memcached_servers = {{ memcached_servers }}
#memcache_security_strategy = ENCRYPT
#memcache_secret_key = fuVZaogNkQ0XkfvXmogrODKSr3kDvk9


[placement]
auth_url = {{ keystone_auth_url }}
auth_type = password
os_region_name = {{ REGION_NAME }}
project_domain_name = {{ project_domain_name }}
user_domain_name = {{ user_domain_name }}
project_name = service
username = {{ ops_user_placement }}
password = {{ OPS_PLACEMENT_PASS }}

[neutron]
url = http://{{ CONTROLLER_HOST }}:{{ services_port.neutron_server }}
auth_url =  {{ keystone_auth_url }}
auth_type = password
os_region_name = {{ REGION_NAME }}
project_domain_name = {{ project_domain_name }}
user_domain_name = {{ user_domain_name }}
project_name = service
username = {{ ops_user_neutron }}
password = {{ OPS_NEUTRON_PASS }}
service_metadata_proxy = True
metadata_proxy_shared_secret = {{ METADATA_SECRET }}

[cache]
backend = oslo_cache.memcache_pool
enabled = true
memcache_servers = {{ memcached_servers }}

[cinder]
os_region_name = {{ REGION_NAME }}

[glance]
api_servers = http://os-controller:9292

[cells]
enable = false

[crypto]
keys_path = /var/lib/nova/keys

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[wsgi]
api_paste_config=/etc/nova/api-paste.ini

[vnc]
enabled = true
server_listen = $my_ip
server_proxyclient_address = $my_ip
novncproxy_base_url = http://{{ VIP_PRIVATE }}:{{ services_port.nova_novncproxy }}/vnc_auto.html
[upgrade_levels]
compute = auto

[scheduler]
driver = filter_scheduler
discover_hosts_in_cells_interval = 60

[filter_scheduler]
enabled_filters = RetryFilter,AvailabilityZoneFilter,RamFilter,DiskFilter,ComputeFilter,ComputeCapabilitiesFilter,ImagePropertiesFilter,CoreFilter,ServerGroupAntiAffinityFilter,ServerGroupAffinityFilter,SameHostFilter,DifferentHostFilter

[libvirt]
{% if nova_backend_ceph | bool %}
disk_cachemodes = "network=writeback"
images_type = {{ nova_images_type }}
images_rbd_pool = {{ nova_images_rbd_pool }}
images_rbd_ceph_conf = {{ nova_images_rbd_ceph_conf }}
rbd_user = {{ nova_rbd_user }}
rbd_secret_uuid = {{ nova_rbd_secret_uuid }}
{% endif %}
