CREATE DATABASE {{ db_cinder_name }};
GRANT ALL PRIVILEGES ON {{ db_cinder_name }}.* TO '{{ db_user_cinder }}'@'localhost' IDENTIFIED BY '{{ DB_CINDER_PASS }}';
GRANT ALL PRIVILEGES ON {{ db_cinder_name }}.* TO '{{ db_user_cinder }}'@'%' IDENTIFIED BY '{{ DB_CINDER_PASS }}';